@charset "utf-8";

div, header, nav, footer{
	 /*border:1px solid rgba(0,0,0,1.00);*/
}
 
#wrap{position:relative; width:1190px; margin:0 auto; background:#fff;}

/*헤더스타일*/
#header{position:relative; width:100%; height:220px; margin:30px 0 20px 0;}
#logo{
			float:left;
			}
			
#topMenu{
					float:right;
					margin-top:20px;
					
					}
.util2 {
					float:left;	
					}

.util3 {
					float:right;	
					}

.util1, .util2 {
			font-size : 0.9em; 
			}


.util1 li{ margin-left:80px; display:inline; }
.util1 li a{font: 1em "Arial",serif; color:#909090;}
.util1 li a:hover{color:#222;}

.util2 li{margin-left:20px; display:inline;  padding-left:20px;}
.util2 li a{font: 1em "Gill Sans MT",Arial;}

#sform{float:right;}


			
/*메뉴스타일*/
				
#menu, menu>ul {position:relative; left:0;}
	
	#menu>ul>li>a{font: bold 0.8em "Arial",serif;}
	
	.mborder{border-bottom:3px solid #000; color:#000;}
	
	#menu>ul>li>a:hover {border-bottom:3px solid #000; color:#000;}
	
	#menu a{display:block; margin:0 15px;}
	#menu li{position:relative; float:left;}
	
	#menu>ul{position:absolute; width:1000px; top:95px; left:15px;}
	#menu>ul>li>ul{position:absolute; width:1000px; top:25px;}
	
	#menu ul li { display: block; float: left;}
	
	.submenu ul { position:relative; float:left;  height:30px;}
	.submenu li{display:block;}
	.submenu li>a{font-size:0.7em;}

/* 메뉴 스타일 끝 */


/*콘텐츠 영역 시작*/
#content{position:relative; padding-bottom:100px; top:-70px; }

/*비주얼 시작*/
	#visual{ width:1250px; height:372px; margin:0 auto; padding-left:35px;}
	
	#text1 { position:relative; top:60px; left:30px; z-index:4;}
	#text2 { position:relative; top:60px; left:80px; z-index:4;}
	#text3 { position:relative; top:60px; left:80px; z-index:4;}
	
	.kids_text { display:none; }
	
	.kids_text>h2 { font-size:0.7em;}
	
	.kids_v1 {	position:relative;
				float:left;
				z-index:3;
				width:406px;
				height:372px;
				background-image:url(../images/kidsroom/v1-1.png);}
	
	.kids_v2 {	position:relative;
				float:left;
				z-index:2;
				left:-44pt;
				width:428px;
				height:372px;
				background-image:url(../images/kidsroom/v1-2.png);}
	
	.kids_v3 {	position:relative;
				float:left;
				z-index:1;
				left:-88pt;
				width:406px;
				height:372px;
				background-image:url(../images/kidsroom/v1-3.png);}
/*클릭시*/				
	.kids_v1_o {	position:relative;
				float:left;
				z-index:3;
				width:406px;
				height:372px;
				background-image:url(../images/kidsroom/v2-1.png);}
	
	.kids_v2_o {	position:relative;
				float:left;
				z-index:2;
				left:-44pt;
				width:428px;
				height:372px;
				background-image:url(../images/kidsroom/v2-2.png);}
	
	.kids_v3_o {	position:relative;
				float:left;
				z-index:1;
				left:-88pt;
				width:406px;
				height:372px;
				background-image:url(../images/kidsroom/v2-3.png);}
/*비주얼 끝*/


/*중간메뉴 시작*/
#subbox{position:relative; padding:0 20px; z-index:5;}

.subbox{position:absolute;}

#subimg2{left:135.5px;} #subimg3{left:251px;} #subimg4{left:366.5px;} #subimg5{left:482px;} #subimg6{left:597.5px;}
#subimg7{left:713px;} #subimg8{left:828.5px;} #subimg9{left:944px;} #subimg10{left:1059.5px;}


#scrollMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: rgba(54, 54, 54, 0.7);
	z-index: 10;
}
.depth2 {
	margin-left: 22%;
}
.depth2 li {
	float: left;
	margin-left: 3%;
	padding: 0 5px;
	color: #fff;
}
.depth2s {
	background-color:#d5a83b;
	height: 30px;
}
.depth2 li a {
	font-size: 0.8em;
	color: #fff;
}
.depth2 a:hover {
	font-weight: bold;
	color: #fff;
}
/*중간메뉴 끝*/

#content{border-bottom:1px solid #898989;}
/*콘텐츠1 시작*/



#con1{
	position:relative;
	width:100%;
	height:700px;
	margin:0 auto;
	
}

.video-container{
	position: absolute;
	top:130px;
	padding-left:1.5%;
}


#con1txt{
 position:absolute; 
 top:570px; 
 text-align:left; 
 float:left; 
 left:25px;
 }

#con1txt>h1{font: bold 1.5em "BernhardFashion BT",Arial; display:inline;}
#con1txt>h2{font-size:1em; display:inline;}
#con1txt>p{font-size:0.75em;}
#con1txt>p>strong{font-weight:bold; color:#4b9ec0;}


/*콘텐츠1 끝*/

/*콘텐츠2 시작*/
#con2{position:relative; 
width:1190px; 
margin:0 20px;
top:110px;}

#con2txt1{
	position:relative;
	width:500px;
	height:130px;
	z-index:3;
	top:30px;
	left:50px;
	text-align:left;
	padding-left:20px;
	padding-top:20px;
	background-color:rgba(255,255,255,0.5);
}

#con2txt2{
	position:relative;
	width:900px;
	height:300px;
	z-index:4;
	top:60px;
	left:60px;
	 text-align:left;

}

.con2txth1{font-size:1em;}
#con2txt1>h2{font-size:0.9em; letter-spacing:0.05em; line-height:25%;}
.con2txtp{font-size:0.75em;}
.con2txt2p{font-size:0.75em;}
.con2txt2p>strong{font-weight:bold; color:#4b9ec0;}


#con2pic1{
position:relative;
 margin:50px 0;
 width:1150px;
 height:528px;
 background-image:url(../images/kidsroom/c2.jpg);
 }


#con3{
	position:relative;
	top:90px;
	width:1200px;
	height:1000px;
	margin:0 auto;	
}
 
 .animation_canvas1{
			position: relative;
			overflow:hidden;
			width: 380px;
			height: 792px;
			float:left;
			margin-right:5px;
			margin-left:20px;
		}
						
		.con3-1-panel{
			width: 2000px;
			position: absolute;
			margin-right:5px;
			float:left;
	
		}
		.con3-1-panel li{			
			position: relative;
			float:left;	
		}
		
		
  .animation_canvas2{
	     	position: relative;
			overflow:hidden;		
			width: 380px;
			height: 792px;
			float:left;
			margin-right:5px;			
	}
	
	
	.con3-2-panel{
			width: 2000px;
			position: absolute;
			margin-right:5px;
			float:left;
		}
	.con3-2-panel li{			
			position: relative;			
			float:left;	
		}
		
	
		
	.animation_canvas3{
		    position: relative;
			overflow:hidden;
			float:left;
			width: 380px;
			height: 792px;
			margin-right:5px;		
	}
	
	
	.con3-3-panel{
			width: 2000px;
			position: absolute;
			margin-right:5px;
			float:left;
		}
	.con3-3-panel li{
			position: relative;
			float:left;	
		}
		
	
		
		
		
#con3txt{
	position:relative;
	width:1200px;
	height:130px;
	margin:0 auto;
	top:20px;
	text-align:center;	
}


#con3txt li{
	position:relative;
	width:370px;
	margin-left:10px;
	margin-right:20px;
	float:left;
}


#con3txt>h2{font-size:0.7em; letter-spacing:0.05em; line-height:25%;}
#con3txt p{font-size:0.70em;}




/*콘텐츠3 끝*/


/*콘텐츠 끝*/


#footer{position:relative; width:100%; height:170px; margin-bottom:30px; background:#4f4f4f;}
#fdiv{position:absolute; background:#c9c9c9; width:100%; height:40px;}
#flogo{position: relative; top:75px; left:55px;}
#txt{position:absolute; top:75px; left: 300px; display:inline; color:#fff; font-size:0.7em;}


#backband{ width:100%;
					height:400px;
					position:fixed;
					top:300px;
					background-color:#dedcdd;
					z-index:-10;
					}

</style>
